<div class="content-wrapper">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <!-- account setting page -->
      <section id="page-account-settings">
        <div class="row nav-vertical d-flex">
          <div class="col-md-3 mb-2 mb-md-0">
            <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
  
              <li class="nav-item" ngbNavItem>
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold">Edit Holiday</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Holiday Information</h4>
                    </div>
                    <div class="card-body">
                        <form class="user" [formGroup]="formData" (ngSubmit)="submitted()">

                          <div class="row" *ngIf="this.currentUser?.user_role == 6 || this.currentUser?.user_role == 3 || this.currentUser?.user_role == 8">
                            <div class="col-lg-4">
                              <div class="common-form-left">
                                <label for="inputPassword6" class="col-form-label">Select Community</label>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="common-form-left form-group">
                                   
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <select id="inputState" class="form-control" formControlName="community_id" (change)="selectCommunity($event)" disabled>
                                          <option value="" selected="selected" disabled>---Select Community---</option>
                                          <option value="{{item.cp_id || item.id}}" *ngFor="let item of comdata">{{item.community_name}}</option>
                                      </select> 

                                         <span *ngIf="controls['community_id'].dirty && controls['community_id'].invalid">
                                          <div class="invalid-feedback"
                                            *ngIf="controls['community_id'].hasError('required')" class="text text-danger">
                                            This field is Required
                                          </div>
                                        </span>
                                      </div>
                                    </div>
                                   
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-4">
                              <div class="common-form-left">
                                <label for="inputPassword6" class="col-form-label">Select Agency</label>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="common-form-left form-group">
                                   
                                    <div class="row">
                                      <div class="col-lg-12">
                                            <select id="inputState" class="form-control" formControlName="agency_id">
                                                <option value="" selected="selected" disabled>---Select Agency---</option>
                                                <option value="{{item.id}}" *ngFor="let item of agencyListingData">{{item.agency_name}}</option>
                                            </select>

                                         <span *ngIf="controls['agency_id'].dirty && controls['agency_id'].invalid">
                                          <div class="invalid-feedback"
                                            *ngIf="controls['agency_id'].hasError('required')" class="text text-danger">
                                            This field is Required
                                          </div>
                                        </span>
                                      </div>
                                    </div>
                                   
                              </div>
                            </div>
                          </div>

                          
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="common-form-left">
                                <label for="inputPassword6" class="col-form-label">Holiday Name</label>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="common-form-left form-group">
                                <input type="text"
                                  [class.is-invalid]="controls['holiday_name'].dirty && controls['holiday_name'].invalid"
                                  formControlName="holiday_name" class="form-control form-control-user"
                                  id="holiday_name" id="inputPassword6" class="form-control"
                                  aria-describedby="passwordHelpInline" placeholder="Holiday Name"> 
                                <span *ngIf="controls['holiday_name'].dirty && controls['holiday_name'].invalid">
                                  <div class="invalid-feedback"
                                    *ngIf="controls['holiday_name'].hasError('required')" class="text text-danger">
                                    This field is Required
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>


                            <div class="row">
                              <div class="col-lg-12">
                                <div class="common-form-field">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <!-- <div class="welcome">
                                        <h1>Register Your Community</h1>
                                      </div> -->
                                    </div>
                                  </div>

                                          <div class="row">
                                    <div class="col-lg-4">
                                        <div class="common-form-left">
                                            <label for="inputPassword6"
                                                class="col-form-label">Holiday Start 
                                            </label>
                                        </div>
                                    </div>
                                    <div class=" col-lg-8">
                                       <div class="input-group mb-1">
                                        <input type="date" 
                                        class="form-control" formControlName="holi_strDate"
                                        aria-label="Text input with dropdown button" >

                                    <select placeholder="HH:MM" formControlName="holi_strTime"
                                        name="startTime" class="form-control"   >
                                        <option disabled value="">HH:MM</option>
                                        <option *ngFor="let tm of timeslots">
                                            {{tm.label}}</option>
                                    </select>
                                       </div>
                                    </div>
                                    <br>
                                    <span *ngIf="controls['holi_strDate'].dirty && controls['holi_strDate'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['holi_strDate'].hasError('required')" class="text text-danger hlw">
                                        This field is Required
                                      </div>
                                    </span>
                                    <!-- <div *ngIf="submit && !obj.startTime">
                                        <div [ngClass]="{'is-invalid': true}"
                                            style="color: red;">This field is Required</div>
                                    </div> -->
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="common-form-left">
                                            <label for="inputPassword6"
                                                class="col-form-label">Holiday End 
                                            </label>
                                        </div>
                                    </div>
                                    <div class=" col-lg-8 ">
                                        <div class="input-group mb-1">
                                          <input type="date" 
                                            formControlName="holi_endDate"
                                            class="form-control"
                                            aria-label="Text input with dropdown button">

                                        <!-- <div ngbDropdown >
                                    <button type="button" class=" form-control " id="dropdownBasic1" ngbDropdownToggle>Time</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                                      <button  class=" form-control btn-sm " ngbDropdownItem>10:00 Am</button>
                                      <button class="form-control btn-sm "  ngbDropdownItem>10:30 Am</button>
                                      <button class="form-control btn-sm "  ngbDropdownItem>11:00 Am</button>
                                    </div>
                              </div> -->

                                        <select placeholder="HH:MM" formControlName="holi_endTime"
                                            class="form-control" [class.disabled]="isHolidayEndDisabled"> 
                                            <option disabled value="">HH:MM</option>
                                            <option *ngFor="let tm of timeslots">
                                                {{tm.label}}</option>
                                        </select>
                                       
                                        </div>
                                    </div>
                                    <span *ngIf="controls['holi_endDate'].dirty && controls['holi_endDate'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['holi_endDate'].hasError('required')" class="text text-danger hlw">
                                        This field is Required
                                      </div>
                                    </span>
                                    <!-- <div *ngIf="submit && !obj.startTime">
                                        <div [ngClass]="{'is-invalid': true}"
                                            style="color: red;">This field is Required</div>
                                    </div> -->
                                </div>
      
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <div class="common-form-left">
                                        <label for="inputPassword6" class="col-form-label">Notes</label>
                                      </div>
                                    </div>
                                    <div class="col-lg-8">
                                      <div class="common-form-left form-group">
                                        <textarea type="text"
                                          [class.is-invalid]="controls['description'].dirty && controls['description'].invalid"
                                          formControlName="description" class="form-control form-control-user"
                                          id="description" id="inputPassword6" class="form-control"
                                          aria-describedby="passwordHelpInline" placeholder="Notes"> </textarea>
                                        <span *ngIf="controls['description'].dirty && controls['description'].invalid">
                                          <div class="invalid-feedback"
                                            *ngIf="controls['description'].hasError('required')" class="text text-danger">
                                            This field is Required
                                          </div>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                 
                                  <button type="submit" class="btn btn-primary nexts" [disabled]="btnShow">
                                    Update
                                    <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                      aria-hidden="true"></span>
                                  </button>
                                  <button type="button" (click)="goBack()"
                                class="btn btn-primary ml-1" [disabled]="btnShow">
                                  Cancel
                                  </button>
                                </div>
                              </div>
                            </div>
                          
                          </form>
                     
                    </div>
                  </div>
                </ng-template>
              </li>
  
            </ul>
          </div>
          <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
        </div>
      </section>
      <!--/ account setting page -->
    </div>
  </div>