<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- account setting page -->
        <section id="page-account-settings">
            <div class="row nav-vertical d-flex">
                <div class="col-md-12 mb-2 mb-md-0">
                    <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">

                        <li class="nav-item" ngbNavItem>
                            <!-- <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Basic Info</span>
                </a> -->

                            <div class="card">
                                <div class=" row justify-content-between">
                                    <div class="card-header ml-1">
                                        <h4 class="card-title">Add Management</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mt-3000">
                                        <form class="auth-login-form mt-2" [formGroup]="formData" (ngSubmit)="submitted()">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="login-email">Management Company Name <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <input type="text" formControlName="mg_name" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_name'].dirty && controls['mg_name'].invalid }"
                                                    placeholder="" aria-describedby="login-email" autofocus="" tabindex="1" maxlength="50" />
                                                <span *ngIf="controls['mg_name'].dirty && controls['mg_name'].invalid">
                                                    <div class="invalid-feedback" *ngIf="controls['mg_name'].hasError('required')"
                                                        class="text text-danger">
                                                        This field is Required
                                                    </div>
                                                </span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="login-email">Username <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <input type="text" noLeadingSpace formControlName="username" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['username'].dirty && controls['username'].invalid }"
                                                    placeholder=""  autofocus="" tabindex="1" maxlength="50" />
                                                <span *ngIf="controls['username'].dirty && controls['username'].invalid">
                                                    <div class="invalid-feedback" *ngIf="controls['username'].hasError('required')"
                                                        class="text text-danger">
                                                        This field is Required
                                                    </div>
                                                </span>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <label class="form-label" for="login-email">Short Name <span class="text-danger">*</span></label>
                                                    </div>
                                                <div class="col-lg-8">
                                                    <div class="common-form-left form-group">
                                                        <input type="text" #sNm (keyup)="shortNm(sNm.value)"
                                                            [class.is-invalid]="controls['sort_name'].dirty && controls['sort_name'].invalid"
                                                            formControlName="sort_name" maxlength="4"
                                                            class="form-control form-control-user"
                                                            id="sort_name" id="inputPassword6"
                                                            class="form-control"
                                                            aria-describedby="passwordHelpInline">
                                                        <span
                                                            *ngIf="controls['sort_name'].dirty && controls['sort_name'].invalid">
                                                            <div class="invalid-feedback"
                                                                *ngIf="controls['sort_name'].hasError('required')"
                                                                class="text text-danger">
                                                                This field is Required
                                                            </div>
                                                        </span>
                                                        <span
                                                            *ngIf="usrExst">
                                                            <div class="invalid-feedback"
                                                                class="text text-danger">
                                                                Short Name already exists. Enter another.
                                                            </div>
                                                        </span>
                                                        <div class="invalid-feedback"
                                                        *ngIf="controls['sort_name'].hasError('pattern')"
                                                        class="text text-danger">
                                                        Must be at least 3 letters and 1 number
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="mg_phone">Management Co. Phone Number <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                            <input phoneMask [preValue]="formData.value.mg_phone" maxlength="14" type="text"
                                                            formControlName="mg_phone" class="form-control" style="height: 45px;"
                                                            [ngClass]="{ 'is-invalid': controls['mg_phone'].dirty && controls['mg_phone'].invalid }"
                                                            placeholder="" aria-describedby="mg_phone" autofocus="" tabindex="1">
                                                        <div *ngIf="controls['mg_phone'].dirty && controls['mg_phone'].invalid" class="invalid-feedback">
                                                            <div *ngIf="controls['mg_phone'].hasError('required')">This field is Required</div>
                                                            <div *ngIf="controls['mg_phone'].hasError('pattern')">Please enter a phone number </div>
                                                        </div>
                                                        </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="mg_email">Management Co. Email Address</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="email" type="text" formControlName="mg_email" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_email'].dirty && controls['mg_email'].invalid }"
                                                    placeholder="" aria-describedby="mg_email" autofocus="" tabindex="1" maxlength="50">
                                                <span *ngIf="controls['mg_email'].dirty && controls['mg_email'].invalid">
                                                    <!-- <div class="invalid-feedback" *ngIf="controls['mg_email'].hasError('required')"
                                                        class="text text-danger">
                                                        This field is Required
                                                    </div> -->
                                                    <div class="invalid-feedback" *ngIf="controls['mg_email'].hasError('email')"
                                                        class="text text-danger">
                                                        Please enter valid email
                                                    </div>
                                                </span>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="mg_address1">Management Co. Address <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" formControlName="mg_address1" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_address1'].dirty && controls['mg_address1'].invalid }"
                                                    placeholder="Address 1" aria-describedby="mg_address1" autofocus="" tabindex="1" maxlength="50">
                                                    <div *ngIf="controls['mg_address1'].dirty && controls['mg_address1'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['mg_address1'].hasError('required')">This field is Required</div>
                                                </div>
                                                </div>
                                                <div class="col-md-4">
                                                <input type="text" formControlName="mg_address2" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_address2'].dirty && controls['mg_address2'].invalid }"
                                                    placeholder="Address 2" aria-describedby="mg_address2" autofocus="" tabindex="1" maxlength="50">
                                                    <!-- <div *ngIf="controls['mg_address2'].dirty && controls['mg_address2'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['mg_address2'].hasError('required')">This field is Required</div>
                                                </div> -->
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="city">Management Co. City <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <input type="text" formControlName="city" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['city'].dirty && controls['city'].invalid }"
                                                    placeholder="city" aria-describedby="city" autofocus="" tabindex="1" maxlength="50">
                                                <div *ngIf="controls['city'].dirty && controls['city'].invalid" class="invalid-feedback">
                                                    <div *ngIf="controls['city'].hasError('required')">This field is Required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="state">Management Co. State <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <select id="inputState" class="form-control" formControlName="state">
                                                    <option value="" selected disabled>State...</option>
                                                    <option *ngFor="let st of state" [ngValue]="st.abbreviation">{{st.name}}</option>
                                                </select>
                                                <span *ngIf="controls['state'].dirty && controls['state'].invalid">
                                                    <div class="invalid-feedback" *ngIf="controls['state'].hasError('required')"
                                                        class="text text-danger">
                                                        This field is Required
                                                    </div>
                                                </span>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="zipcode">Management Co. Zip Code <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="number" type="text" formControlName="zipcode" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['zipcode'].dirty && controls['zipcode'].invalid }"
                                                    placeholder="Zipcode" aria-describedby="zipcode" autofocus="" tabindex="1" maxlength="5">
                                                <div *ngIf="controls['zipcode'].dirty && controls['zipcode'].invalid" class="invalid-feedback">
                                                    <div *ngIf="controls['zipcode'].hasError('required')">This field is Required</div>
                                                </div>
                                                </div>
                                            </div>
                                           
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="website">Management Co. Website <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="text" type="text" formControlName="website" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['website'].dirty && controls['website'].invalid }"
                                                    placeholder="website" >
                                                <div *ngIf="controls['website'].dirty && controls['website'].invalid" class="invalid-feedback">
                                                    <div *ngIf="controls['website'].hasError('required')">This field is Required</div>
                                                </div>
                                                <!-- <div class="invalid-feedback"
                                                                            *ngIf="controls['website'].hasError('maxlength')"
                                                                            class="text text-danger">
                                                                            Please enter 24 character only
                                                                        </div> -->
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="contact_person_firstname">Management Co. Contact First Name <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="text" type="text" formControlName="contact_person_firstname"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['contact_person_firstname'].dirty && controls['contact_person_firstname'].invalid }"
                                                    placeholder="" aria-describedby="contact_person_firstname" autofocus="" tabindex="1" inputDirective
                                                    maxlength="50">
                                                <div *ngIf="controls['contact_person_firstname'].dirty && controls['contact_person_firstname'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['contact_person_firstname'].hasError('required')">This field is Required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="contact_person_lastname">Management Co. Contact Last Name <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="text" type="text" formControlName="contact_person_lastname"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['contact_person_lastname'].dirty && controls['contact_person_lastname'].invalid }"
                                                    placeholder="" aria-describedby="contact_person_lastname" autofocus="" tabindex="1" inputDirective
                                                    maxlength="50">
                                                <div *ngIf="controls['contact_person_lastname'].dirty && controls['contact_person_lastname'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['contact_person_lastname'].hasError('required')">This field is Required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="contact_person_title">Management Co. Contact Person Title <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="text" type="text" formControlName="contact_person_title"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['contact_person_title'].dirty && controls['contact_person_title'].invalid }"
                                                    placeholder="" aria-describedby="contact_person_title" autofocus="" tabindex="1" inputDirective
                                                    maxlength="50">
                                                <div *ngIf="controls['contact_person_title'].dirty && controls['contact_person_title'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['contact_person_title'].hasError('required')">This field is Required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="contact_person">Management Co. Contact Phone Number <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-2 test_data">
                                                            <div ngbDropdown class="d-inline-block">
                                                                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedDataValue ?selectedDataValue:'Select Code'}}</button>
                                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow: auto; max-height: 200px;">
                                                                    <ng-container *ngFor="let item of phoneUsd" style="overflow-y:scroll;">
                                                                        <button type="button" ngbDropdownItem (click)="mapCountry_selected(item)"><img class="dpwImg" src="https://flagsapi.com/{{item.code}}/flat/64.png">{{item.dial_code}}</button>                                                                    
                                                                    </ng-container>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <input type="text" formControlName="contact_person" class="form-control" style="height:45px"
                                                                [ngClass]="{ 'is-invalid': controls['contact_person'].dirty && controls['contact_person'].invalid }"
                                                                aria-describedby="contact_person" autofocus="" tabindex="1" phoneMask
                                                                [preValue]="formData.value.contact_person" maxlength="14">
                                                            <div *ngIf="controls['contact_person'].dirty && controls['contact_person'].invalid"
                                                                class="invalid-feedback">
                                                            <div *ngIf="controls['contact_person'].hasError('required')">This field is Required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="mg_email">Management Co. Contact Email <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                <input type="text" formControlName="contact_email" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['contact_email'].dirty && controls['contact_email'].invalid }"
                                                    placeholder="" aria-describedby="contact_email" autofocus="" tabindex="1" maxlength="50">
                                                <span *ngIf="controls['contact_email'].dirty && controls['contact_email'].invalid">
                                                    <div class="invalid-feedback" *ngIf="controls['contact_email'].hasError('required')"
                                                        class="text text-danger">
                                                        This field is Required
                                                    </div>
                                                    <div class="invalid-feedback" *ngIf="controls['contact_email'].hasError('email')"
                                                        class="text text-danger">
                                                        Please enter valid email
                                                    </div>
                                                </span>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="login-email">Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input [type]="passwordTextType2 ? 'text' : 'password'" formControlName="password" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['password'].dirty && controls['password'].invalid }"
                                                    placeholder="" aria-describedby="login-email" autofocus="" tabindex="1" inputDirective
                                                    maxlength="50">
                                                <!-- <div *ngIf="controls['password'].dirty && controls['password'].invalid" class="invalid-feedback">
                                                    <div *ngIf="controls['password'].hasError('required')">This field is Required</div>
                                                </div> -->
                                                <div class="input-group-append">
                                                    <span class="input-group-text cursor-pointer eyeBtn"
                                                      ><i
                                                        class="feather font-small-4"
                                                        [ngClass]="{
                                                          'icon-eye': passwordTextType2,
                                                          'icon-eye-off': !passwordTextType2
                                                        }"
                                                        (click)="passwordTextType2=!passwordTextType2"
                                                      ></i
                                                    ></span>
                                                  </div>
                                                <div class="invalid-feedback" *ngIf="controls['password'].hasError('pattern')"
                                                    class="text text-danger">
                                                    Password must be at least 8 characters and contain a combination of uppercase and lowercase letters and at least one special character or number.
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <div class="common-form-left">
                                                        <label for="inputPassword6" class="col-form-label">Confirm Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="common-form-left form-group">
                                                        <input [type]="passwordTextType1 ? 'text' : 'password'"
                                                            [class.is-invalid]="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid"
                                                            formControlName="cnfrmpassword" class="form-control form-control-user"
                                                            id="cnfrmpassword">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text cursor-pointer eyeBtn"
                                                                  ><i
                                                                    class="feather font-small-4"
                                                                    [ngClass]="{
                                                                      'icon-eye': passwordTextType1,
                                                                      'icon-eye-off': !passwordTextType1
                                                                    }"
                                                                    (click)="passwordTextType1=!passwordTextType1"
                                                                  ></i
                                                                ></span>
                                                              </div>
                                                        <span
                                                            *ngIf="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid">
                                                            <!-- <div class="invalid-feedback"
                                                                *ngIf="controls['cnfrmpassword'].hasError('required')"
                                                                class="text text-danger">
                                                                This field is Required
                                                            </div> -->
                                                            
                                                            <div *ngIf="controls.cnfrmpassword.errors.confirmedValidator" style="color: #ea5455; font-size: 1rem;">Password and Confirm Password must be match.</div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="form-group captcha">
                                      <re-captcha (resolved)="resolved($event)"
                                                              siteKey="6Lcy7N4ZAAAAAHpYHlxEitgnmnAWUJaCCe5cNUzk"></re-captcha>
                                    </div> -->
                                            <button [disabled]="btnShow" type="submit" class="btn btn-primary " tabindex="4" rippleEffect>
                                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span>Add
                                            </button>
                                            <button type="button" (click)="goBack()"
                                            class="btn btn-primary ml-1" [disabled]="btnShow">
                                            Cancel
                                        </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
            </div>
        </section>
        <!--/ account setting page -->
    </div>
</div>


