<div class="card">
    
<div class="d-flex align-items-center justify-content-between flex-wrap pb-1 px-1 pb-md-0 my-1">
    <div>
        <button type="button" (click)="addEmployee()" class="btn-sm btn-info">
            <i class="fa fa-plus "></i> Add Employee
        </button>
        <button type="button" (click)="fileInput.click()"  class="btn-sm btn-info ml-1" *ngIf="['1','6','16'].includes(currentUser.prmsnId)" >
            <i class="fa fa-file "></i>   Import File
            <input #fileInput type="file"  (click)="fileInput.value = null" (change)="onFileInput(fileInput.files)" style="display:none;"accept=".csv, .xls"  />
          </button>
    </div>
    <label class="d-flex align-items-center mt-1 mt-md-0 mt-lg-0"> {{ 'DEPOSIT.depoSearch' | translate}}
        <input type="text" (keyup)="searchUser1($event)" placeholder="Search" class="form-control ml-25"
            [(ngModel)]="searchmanualUserName" />
    </label>
</div>
<div class="ovr-flow" style="overflow: auto;">
    <ngx-datatable class="bootstrap core-bootstrap sz-300" #table
    [rows]="shiftData" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
    [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
    (page)='changePage($event)' (sort)="sort($event)"  [scrollbarH]="true" [draggable]="false">

    <ngx-datatable-column name="Community Name" prop="community_name" [width]="100" *ngIf="currentUser.user_role == 6">
        <ng-template let-community_name="value" let-expanded="expanded" ngx-datatable-cell-template>
            {{ community_name ? community_name : '---'  }}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Lastname" prop="last_name" [width]="100" >
        <ng-template let-last_name="value" let-expanded="expanded" ngx-datatable-cell-template>
            {{ last_name }}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Firstname" prop="first_name" [width]="100">
        <ng-template let-first_name="value" let-expanded="expanded" ngx-datatable-cell-template>
            {{ first_name }}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="80" >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
                <div ngbDropdown container="body">
                    <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow" id="dropdownBrowserState"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                        <a (click)="openEditUser(row)" ngbDropdownItem class="d-flex align-items-center">
                            <i class="fa fa-edit mr-50"></i> Edit
                        </a>
                        <a (click)="openDeleteUser(row)" ngbDropdownItem class="d-flex align-items-center">
                            <i class="fa fa-trash mr-50"></i> Archive
                        </a>
                      
                    </div>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
</div>
</div>

<ng-template #deleteUser let-modal>
        <div class="modal-header bg-danger">
            <h4 class="modal-title text-white" id="myModalLabel1">Archive Employee</h4>
            <button type="button" [disabled]="deletingUser" class="close" (click)="closededApply(modal)"aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
            <h5>Are you sure you want to Archive Employee User?</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger d-flex float-right" style="margin-top: 10px!important;"
                (click)="deleteshift(modal)" rippleEffect>
                Yes
            </button>
            <button type="button" class="btn btn-danger d-flex float-right" style="margin-top: 10px!important;"
                (click)="closededApply(modal)" rippleEffect>
                <span class="mr-2"></span>No
            </button>
    
        </div>
    </ng-template>
    <ng-template #EditUser let-modal>
        <div class="modal-header bg-danger">
            <h4 class="modal-title text-white" id="myModalLabel1">Edit New User</h4>
            <button type="button" [disabled]="deletingUser" class="close" (click)="closededApply(modal)" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
            <form class="user" [formGroup]="formData1" (ngSubmit)="submitted1(modal)">         
                <div class="row">
                    <div class="col-lg-4" *ngIf="currentUser.role == 'SuperAdmin' || currentUser.user_role ==  3 || this.currentUser.user_role == 8">
                        <div class="common-form-left">
                            <label for="inputPassword6" class="col-form-label">Community
                                Name <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-8" *ngIf="currentUser.role == 'SuperAdmin' || currentUser.user_role == 3 || this.currentUser.user_role == 8">
                        <div class="common-form-left form-group">
                            <select name="community_name" id="community_name"
                                formControlName="community_name"
                                class="form-control form-control-user">
                                <option value="" selected disabled>--Select--</option>
                                <option value="{{comm.id}}"
                                    *ngFor="let comm of allCommunity">
                                    {{comm.community_name}}</option>
                            </select>
                            <span *ngIf="controls['community_name'].dirty && controls['community_name'].invalid">
                                <div class="invalid-feedback" *ngIf="controls['community_name'].hasError('required')"
                                    class="text text-danger">
                                    This field required
                                </div>
                            </span>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-lg-4">
                        <div class="common-form-left">
                            <label for="inputPassword6" class="col-form-label">User First Name <span
                                    class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="common-form-left form-group">
                            <input type="text"
                                [class.is-invalid]="controls1['first_name'].dirty && controls1['first_name'].invalid"
                                formControlName="first_name" class="form-control form-control-user" id="first_name"
                                class="form-control" placeholder="First Name" aria-describedby="passwordHelpInline">
                            <span *ngIf="controls1['first_name'].dirty && controls1['first_name'].invalid">
                                <div class="invalid-feedback" *ngIf="controls1['first_name'].hasError('required')"
                                    class="text text-danger">
                                    This field required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-4">
                        <div class="common-form-left">
                            <label for="inputPassword6" class="col-form-label">User Last Name <span
                                    class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="common-form-left form-group">
                            <input type="text"
                                [class.is-invalid]="controls1['last_name'].dirty && controls1['last_name'].invalid"
                                formControlName="last_name" class="form-control form-control-user" id="last_name"
                                class="form-control" placeholder="Last Name" aria-describedby="passwordHelpInline">
                            <span *ngIf="controls1['last_name'].dirty && controls1['last_name'].invalid">
                                <div class="invalid-feedback" *ngIf="controls1['last_name'].hasError('required')"
                                    class="text text-danger">
                                    This field required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
    
                            <div class="row addUserbtn">
                                <div class="m-1">
                                    <button type="submit" class="btn btn-primary" [disabled]="btnShow">
                                        <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Update
                                    </button>
                                    <button type="button" (click)="closededApply(modal)" class="btn btn-primary ml-1"
                                        [disabled]="btnShow">
                                        Cancel
                                    </button>
                                </div>
    
                            </div>
            </form>
        </div>
    </ng-template>

    <ng-template #AddUser let-modal>
        <div class="modal-header bg-danger">
            <h4 class="modal-title text-white" id="myModalLabel1">Add New User</h4>
            <button type="button" [disabled]="deletingUser" class="close" (click)="closededApply(modal)" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
            <form class="user" [formGroup]="formData" (ngSubmit)="submitted(modal)">
             <div class="row">
                <div class="col-lg-4" *ngIf="currentUser.role == 'SuperAdmin' || currentUser.user_role ==  3 || this.currentUser.user_role == 8">
                    <div class="common-form-left">
                        <label for="inputPassword6" class="col-form-label">Community
                            Name <span class="text-danger">*</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-8" *ngIf="currentUser.role == 'SuperAdmin' || currentUser.user_role == 3 || this.currentUser.user_role == 8">
                    <div class="common-form-left form-group">
                        <select name="community_name" id="community_name"
                            formControlName="community_name"
                            class="form-control form-control-user">
                            <option value="" selected disabled>--Select--</option>
                            <option value="{{comm.id}}"
                                *ngFor="let comm of allCommunity">
                                {{comm.community_name}}</option>
                        </select>
                        <span *ngIf="controls['community_name'].dirty && controls['community_name'].invalid">
                            <div class="invalid-feedback" *ngIf="controls['community_name'].hasError('required')"
                                class="text text-danger">
                                This field required
                            </div>
                        </span>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="common-form-left">
                            <label for="inputPassword6" class="col-form-label">User First Name <span
                                    class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="common-form-left form-group">
                            <input type="text"
                                [class.is-invalid]="controls['first_name'].dirty && controls['first_name'].invalid"
                                formControlName="first_name" class="form-control form-control-user" id="first_name"
                                class="form-control" placeholder="First Name" aria-describedby="passwordHelpInline">
                            <span *ngIf="controls['first_name'].dirty && controls['first_name'].invalid">
                                <div class="invalid-feedback" *ngIf="controls['first_name'].hasError('required')"
                                    class="text text-danger">
                                    This field required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-4">
                        <div class="common-form-left">
                            <label for="inputPassword6" class="col-form-label">User Last Name <span
                                    class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="common-form-left form-group">
                            <input type="text"
                                [class.is-invalid]="controls['last_name'].dirty && controls['last_name'].invalid"
                                formControlName="last_name" class="form-control form-control-user" id="last_name"
                                class="form-control" placeholder="Last Name" aria-describedby="passwordHelpInline">
                            <span *ngIf="controls['last_name'].dirty && controls['last_name'].invalid">
                                <div class="invalid-feedback" *ngIf="controls['last_name'].hasError('required')"
                                    class="text text-danger">
                                    This field required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
    
                            <div class="row addUserbtn">
                                <div class="m-1">
                                    <button type="submit" class="btn btn-primary" [disabled]="btnShow">
                                        <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Add
                                    </button>
                                    <button type="button" (click)="closededApply(modal)" class="btn btn-primary ml-1"
                                        [disabled]="btnShow">
                                        Cancel
                                    </button>
                                </div>
    
                            </div>
            </form>
        </div>
    </ng-template>