<div class="card">
  <div class="card-header d-flex flex-column align-items-start pb-0">
    <p class="font-weight-bolder ml-1">Budget List</p>
  </div>
  <div class="card-body card-boxes">
    <div class="row mb-1">
      <div class="col-lg-6 col-12">
        <div class="d-flex full-width-button">
          <button
            type="button"
            class="btn-sm btn-info"
            *ngIf="
              addPrms == 1 ||
              currentUser.user_role == '6' ||
              currentUser.user_role == '3' ||
              currentUser.prmsnId == '1'
            "
            [routerLink]="['add-budget']"
          >
            <i class="fa fa-plus mr-50"></i>Add Budget
          </button>

          <button
            type="button"
            (click)="fileInput.click()"
            class="btn-sm btn-info ml-1"
            *ngIf="['1', '6', '16'].includes(currentUser.prmsnId)"
          >
            <i class="fa fa-file"></i> Import File
            <input
              #fileInput
              type="file"
              (click)="fileInput.value = null"
              (change)="onFileInput(fileInput.files)"
              style="display: none"
              accept=".csv, .xls"
            />
          </button>

          <button
            type="button"
            class="btn-sm btn-info ml-1"
            *ngIf="['1', '6', '16'].includes(currentUser.prmsnId)"
            (click)="openMdl()"
          >
            <i class="fa fa-trash mr-50"></i>Delete Import
          </button>
          <div
            class="col-md-4"
            *ngIf="[3, 8].includes(this.currentUser?.user_role)"
          >
            <select
              class="form-control"
              [(ngModel)]="selectCommunity"
              (change)="chngCom($event.target.value)"
            >
              <option value="" selected="selected" disabled>
                ---Select Community---
              </option>
              <option
                value="{{ item.cp_id || item.id || item.community_id }}"
                *ngFor="let item of allCommunity"
              >
                {{ item.community_name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-md-end search-boxes">
        <!-- <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0"> -->
        <label class="d-flex align-items-center">
          {{ "DEPOSIT.depoSearch" | translate }}
          <input
            #searchStrInput
            type="text"
            placeholder="Search"
            class="form-control ml-25"
            [(ngModel)]="searchStr"
          />
        </label>
        <!-- </div>  -->
      </div>
      <!-- <div class="col-md-3" *ngIf="[3,8].includes(this.currentUser?.user_role)">
                <select class="form-control" [(ngModel)]="selectCommunity"
                (change)="chngCom($event.target.value)">
                <option value="" selected="selected" disabled>---Select Community---</option>
                <option value="{{item.cp_id || item.id || item.community_id}}" *ngFor="let item of allCommunity">
                    {{item.community_name}}</option>
            </select> -->
    </div>
  </div>
  <div class="ovr-flow" style="overflow: auto">
    <ngx-datatable
      #tablesss
      class="bootstrap core-bootstrap"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [externalPaging]="false"
      [count]=""
      [offset]=""
      [limit]="10"
      [scrollbarH]="true"
    >
      <ngx-datatable-column
        name="community name"
        prop="community_name"
        [width]="180"
      >
        <ng-template
          let-community_name="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ community_name }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="GL Account" prop="GLA_id" [width]="150">
        <ng-template
          let-GLA_id="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ GLA_id == "no" ? "" : GLA_id }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Description" prop="description" [width]="150">
        <ng-template
          let-description="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ description }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="department" prop="department" [width]="150">
        <ng-template
          let-department="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ department == "no" ? "---" : department }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="PRD value" prop="PRD_value" [width]="150">
        <ng-template
          let-PRD_value="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ " }} {{ PRD_value || "0" | number : "1.2-2" }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="YE total" prop="YE_total" [width]="150">
        <ng-template
          let-YE_total="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ "
          }}{{
            YE_total == ("" || " " || null || "undefined")
              ? "0"
              : (YE_total | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="budget version"
        prop="budget_version"
        [width]="150"
      >
        <ng-template
          let-budget_version="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ budget_version }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="currency" prop="currency" [width]="150">
        <ng-template
          let-currency="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ currency }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="type" prop="type" [width]="150">
        <ng-template
          let-type="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ type }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="labor_type" prop="labor_type" [width]="150">
        <ng-template
          let-labor_type="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{
            labor_type == "non-labor" ? "Non Labor" : (labor_type | titlecase)
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="january" prop="january" [width]="150">
        <ng-template
          let-january="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ "
          }}{{
            january == ("" || " " || null || "undefined")
              ? "0"
              : (january | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="february" prop="february" [width]="150">
        <ng-template
          let-february="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ "
          }}{{
            february == ("" || " " || null || "undefined")
              ? "0"
              : (february | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="march" prop="march" [width]="150">
        <ng-template
          let-march="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ "
          }}{{
            march == ("" || " " || null || "undefined")
              ? "0"
              : (march | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="april" prop="april" [width]="150">
        <ng-template
          let-april="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ "
          }}{{
            april == ("" || " " || null || "undefined")
              ? "0"
              : (april | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="may" prop="may" [width]="150">
        <ng-template
          let-may="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ " }}
          {{
            may == ("" || " " || null || "undefined")
              ? "0"
              : (may | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="june" prop="june" [width]="150">
        <ng-template
          let-june="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ " }}
          {{
            june == ("" || " " || null || "undefined")
              ? "0"
              : (june | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="july" prop="july" [width]="150">
        <ng-template
          let-july="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ "
          }}{{
            july == ("" || " " || null || "undefined")
              ? "0"
              : (july | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="august" prop="august" [width]="150">
        <ng-template
          let-august="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ " }}
          {{
            august == ("" || " " || null || "undefined")
              ? "0"
              : (august | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="september" prop="september" [width]="150">
        <ng-template
          let-september="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ "
          }}{{
            september == ("" || " " || null || "undefined")
              ? "0"
              : (september | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="october" prop="october" [width]="150">
        <ng-template
          let-october="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ " }}
          {{
            october == ("" || " " || null || "undefined")
              ? "0"
              : (october | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="november" prop="november" [width]="150">
        <ng-template
          let-november="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ " }}
          {{
            november == ("" || " " || null || "undefined")
              ? "0"
              : (november | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="december" prop="december" [width]="150">
        <ng-template
          let-december="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ "$ "
          }}{{
            december == ("" || " " || null || "undefined")
              ? "0"
              : (december | number : "1.2-2")
          }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="start date" prop="start_date" [width]="150">
        <ng-template
          let-start_date="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ start_date | date : "MM/dd/yyyy" }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="end date" prop="end_date" [width]="150">
        <ng-template
          let-end_date="value"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          {{ end_date | date : "MM/dd/yyyy" }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Actions"
        sortable="false"
        prop="id"
        [width]="150"
      >
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="d-flex align-items-center">
            <div ngbDropdown container="body">
              <a
                ngbDropdownToggle
                class="hide-arrow"
                id="dropdownBrowserState"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  data-feather="more-vertical"
                  class="text-primary cursor-pointer mr-50"
                ></i>
              </a>
              <div
                ngbDropdownMenu
                class="dropdown-menu-right"
                aria-labelledby="dropdownBrowserState"
              >
                <a
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  [routerLink]="['edit-budget', row.id]"
                  *ngIf="
                    edtPrms == 1 ||
                    currentUser.user_role == '6' ||
                    currentUser.prmsnId == '1'
                  "
                >
                  <i class="fa fa-edit mr-50"></i> Edit
                </a>
                <a
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  (click)="delete(row.id)"
                  *ngIf="
                    dltPrms == 1 ||
                    currentUser.user_role == '6' ||
                    currentUser.prmsnId == '1'
                  "
                >
                  <i class="fa fa-trash mr-50"></i> Delete
                </a>
                <a
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  *ngIf="dltPrms == 0 && edtPrms == 0"
                >
                  <i class="fa fa-trash mr-50"></i> You have no Permissions for
                  any actions.
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

  <!-- OtpModal -->
  <ng-template #dltImprt let-modal>
    <div class="modal-header bg-danger">
      <h4 class="modal-title text-white" id="modal-basic-title">
        Delete Import
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeVerificationModal()"
      >
        &times;
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <form class="user" [formGroup]="dltForm" (ngSubmit)="dltFormSub()">
        <div class="row">
          <div class="col-lg-4">
            <div class="common-form-left">
              <label for="inputPassword6" class="col-form-label"
                >Select Community <span class="text-danger">*</span>
              </label>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="common-form-left form-group">
              <select class="form-control" formControlName="community_name">
                <option value="" selected="selected" disabled>
                  ---Select Community---
                </option>
                <option value="{{ item.id }}" *ngFor="let item of allCommunity">
                  {{ item.community_name }}
                </option>
              </select>
              <span
                *ngIf="
                  FormData_Control['community_name'].dirty &&
                  FormData_Control['community_name'].invalid
                "
              >
                <div
                  class="invalid-feedback"
                  *ngIf="
                    FormData_Control['community_name'].hasError('required')
                  "
                  class="text text-danger"
                >
                  This field is Required
                </div>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="common-form-left">
              <label for="inputPassword6" class="col-form-label"
                >Start Date <span class="text-danger">*</span>
              </label>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="common-form-left form-group">
              <input
                type="date"
                [class.is-invalid]="
                  FormData_Control['start_date'].dirty &&
                  FormData_Control['start_date'].invalid
                "
                formControlName="start_date"
                class="form-control form-control-user"
                id="start_date"
                class="form-control"
                placeholder="Start Date"
                aria-describedby="passwordHelpInline"
              />
              <span
                *ngIf="
                  FormData_Control['start_date'].dirty &&
                  FormData_Control['start_date'].invalid
                "
              >
                <div
                  class="invalid-feedback"
                  *ngIf="FormData_Control['start_date'].hasError('required')"
                  class="text text-danger"
                >
                  This field is Required
                </div>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="common-form-left">
              <label for="inputPassword6" class="col-form-label"
                >End Date <span class="text-danger">*</span>
              </label>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="common-form-left form-group">
              <input
                type="date"
                [class.is-invalid]="
                  FormData_Control['end_date'].dirty &&
                  FormData_Control['end_date'].invalid
                "
                formControlName="end_date"
                class="form-control form-control-user"
                id="end_date"
                class="form-control"
                placeholder="Start Date"
                aria-describedby="passwordHelpInline"
              />
              <span
                *ngIf="
                  FormData_Control['end_date'].dirty &&
                  FormData_Control['end_date'].invalid
                "
              >
                <div
                  class="invalid-feedback"
                  *ngIf="FormData_Control['end_date'].hasError('required')"
                  class="text text-danger"
                >
                  This field is Required
                </div>
              </span>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary ml-1"
            [disabled]="btnShow"
          >
            <span
              *ngIf="btnShow"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Delete
          </button>
        </div>
      </form>
    </div>
  </ng-template>
  <!-- / Modal -->
</div>
