<section class="login-custom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="center-login">
            <div class="row">
              <div class="col-lg-12">
                <div class="logo-top-login">
                  <img src="assets/images/logo-login.png" class="login-logo" alt="">
                  <p class="account-1">Please sign in to your account</p>
                  <p class="account-2">By continuing, you agree to <br>
                    bloomtrak’s <a href="https://bloomtrak.com/privacy-policy/" target="_blank">Terms of Use and Privacy Policy</a></p>
                </div>
              </div>
              <form class="auth-login-form mt-2" [formGroup]="resetPassForm" (ngSubmit)="onSubmit()" style="width: 100%;">
                <div class="form-group row">
                    
                    <div class="col-lg-12">
                    <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password" class="input-f" 
                        [ngClass]="{ 'is-invalid': controls['password'].dirty && controls['password'].invalid }"
                        placeholder="Password" aria-describedby="login-email" autofocus="" tabindex="1" inputDirective
                        maxlength="50">
                        <div class="input-group-append">
                          <span class="input-group-text cursor-pointer eyeBtn"
                            ><i
                              class="feather font-small-4"
                              [ngClass]="{
                                'icon-eye-off': passwordTextType,
                                'icon-eye': !passwordTextType
                              }"
                              (click)="togglePasswordTextType()"
                            ></i
                          ></span>
                        </div>
                    <div *ngIf="controls['password'].dirty && controls['password'].invalid" class="invalid-feedback">
                        <div *ngIf="controls['password'].hasError('required')">This field is Required</div>
                    </div>
                    <div class="invalid-feedback" *ngIf="controls['password'].hasError('pattern')"
                        class="text text-danger">
                        Password must be at least 8 characters and contain a combination of uppercase and lowercase letters and at least one special character or number.
                    </div>
                    </div>
                </div>

                <div class="form-group row">
                   
                    <div class="col-lg-12">
                        <div class="common-form-left form-group">
                            <input  [type]="passwordTextType2 ? 'text' : 'password'" placeholder="Confirm Password"
                                [class.is-invalid]="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid"
                                formControlName="cnfrmpassword" class="input-f" 
                                id="cnfrmpassword">
                                <div class="input-group-append">
                                  <span class="input-group-text cursor-pointer eyeBtn"
                                    ><i
                                      class="feather font-small-4"
                                      [ngClass]="{
                                        'icon-eye-off': passwordTextType2,
                                        'icon-eye': !passwordTextType2
                                      }"
                                      (click)="togglePasswordTextType2()"
                                    ></i
                                  ></span>
                                </div>
                            <span
                                *ngIf="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid">
                                <div class="invalid-feedback"
                                    *ngIf="controls['cnfrmpassword'].hasError('required')"
                                    class="text text-danger">
                                    This field is Required
                                </div>
                                
                                <div *ngIf="controls.cnfrmpassword.errors.confirmedValidator" style="color: #ea5455; font-size: 1rem;">Password and Confirm Password must be match.</div>
                            </span>
                        </div>
                    </div>
                </div>
              <div class="form-group">
              <div class="col-lg-12">
                <div class="mar-login">
                  <button class="bt-login-bloom"
                  [disabled]="loading"  tabindex="4" rippleEffect>
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  RESET PASSWORD</button>
                </div>
              </div>
              </div>
              </form>
              <!-- <div class="col-lg-12">
                <div class="mar-login" style="text-align: center;">
                  <a class="forgot-a"  [routerLink]="['forgotPassword']">Forgot Password?</a>
                </div>
              </div> -->
              <div class="col-lg-12">
                <div class="mar-login">
                  <p class="if-p">If you are not already a bloomtrak<sup>tm</sup> partner, <br>
                    schedule your demo today!</p>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mar-login-0">
                  <ul class="bt-ul-2">
                    <li ><a href="https://bloomtrak.com/schedule-a-demo/"  target="_blank"> <button>SCHEDULE A DEMO</button> </a></li>
                    <li ><a href="https://www.bloomtrak.com"  target="_blank"> <button>LEARN MORE</button> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-content">
            <ul>
              <li><p>@ bloomtrak™ DEV 2024 </p></li>
              <li><a href="https://bloomtrak.com/privacy-policy/" target="_blank">Terms of Use </a></li>
              <li><a href="https://bloomtrak.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  