<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- account setting page -->
        <section id="page-account-settings">
            <div class="row nav-vertical d-flex">
                <div class="col-md-12 mb-2 mb-md-0">
                    <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
                        <li class="nav-item" ngbNavItem>
                            <div class="card">
                                <div class=" row justify-content-between">
                                    <div class="card-header ml-1">
                                        <h4 class="card-title" >Edit Position</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mt-3000">
                                        <form class="user" [formGroup]="formPositionData" (ngSubmit)="submitted()">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="common-form-left">
                                                        <label for="inputPassword6" class="col-form-label">Position Name <span class="text-danger">*</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="common-form-left form-group">
                                                        <input type="text"
                                                            [class.is-invalid]="FormData_Control['position_name'].dirty && FormData_Control['position_name'].invalid"
                                                            formControlName="position_name" class="form-control form-control-user"
                                                            id="position_name" class="form-control"
                                                            placeholder="Firstname" aria-describedby="passwordHelpInline">
                                                            <span *ngIf="FormData_Control['position_name'].dirty && FormData_Control['position_name'].invalid">
                                                                <div class="invalid-feedback"
                                                                *ngIf="FormData_Control['position_name'].hasError('required')"
                                                                class="text text-danger">
                                                                This field is Required
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4" *ngIf="isGaleAgency == 1">
                                                    <div class="common-form-left">
                                                        <label for="inputPassword6" class="col-form-label">Gale Position Name
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8" *ngIf="isGaleAgency == 1">
                                                    <div class="common-form-left form-group">
                                                        <input type="text"
                                                            [class.is-invalid]="FormData_Control['gale_position_name'].dirty && FormData_Control['gale_position_name'].invalid"
                                                            formControlName="gale_position_name"
                                                            class="form-control form-control-user" id="gale_position_name"
                                                            class="form-control" placeholder="Position Name"
                                                            aria-describedby="passwordHelpInline">
                                                        <span
                                                            *ngIf="FormData_Control['gale_position_name'].dirty && FormData_Control['gale_position_name'].invalid">
                                                            <div class="invalid-feedback"
                                                                *ngIf="FormData_Control['gale_position_name'].hasError('required')"
                                                                class="text text-danger">
                                                                This field required
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>


                                                <div class="col-lg-4" *ngIf="isGaleAgency == 1">
                                                    <div class="common-form-left">
                                                        <label for="inputPassword6" class="col-form-label">Gale Rate
                                                         <span class="text-danger">*</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8" *ngIf="isGaleAgency == 1">
                                                <div class="common-form-left form-group">
                                                    <input type="number"
                                                        [class.is-invalid]="FormData_Control['gale_position_rate'].dirty && FormData_Control['gale_position_rate'].invalid"
                                                        formControlName="gale_position_rate"
                                                        class="form-control form-control-user" id="gale_position_rate"
                                                        class="form-control" placeholder="$"
                                                        aria-describedby="passwordHelpInline">
                                                    <span
                                                        *ngIf="FormData_Control['gale_position_rate'].dirty && FormData_Control['gale_position_rate'].invalid">
                                                        <div class="invalid-feedback"
                                                            *ngIf="FormData_Control['gale_position_rate'].hasError('required')"
                                                            class="text text-danger">
                                                            This field required
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>

                                               

                                                    <div class="col-lg-4">
                                                        <div class="common-form-left">
                                                            <label for="inputPassword6" class="col-form-label">Avg Internal Rate
                                                             <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                    <div class="common-form-left form-group">
                                                        <input type="number"
                                                            [class.is-invalid]="FormData_Control['avg_rate'].dirty && FormData_Control['avg_rate'].invalid"
                                                            formControlName="avg_rate"
                                                            class="form-control form-control-user" id="avg_rate"
                                                            class="form-control" placeholder="$"
                                                            aria-describedby="passwordHelpInline">
                                                        <span
                                                            *ngIf="FormData_Control['avg_rate'].dirty && FormData_Control['avg_rate'].invalid">
                                                            <div class="invalid-feedback"
                                                                *ngIf="FormData_Control['avg_rate'].hasError('required')"
                                                                class="text text-danger">
                                                                This field is Required
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <div class="row addUserbtn">
                                                        <div class="m-1">
                                                            <button type="submit" class="btn btn-primary" [disabled]="loading">
                                                                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                                                    aria-hidden="true"></span>
                                                                Update
                                                            </button>
                                                            <button type="button" (click)="goBack()" class="btn btn-primary ml-1" >
                                                                Cancel
                                                            </button>
                                                        </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </form>  
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div  class="col-12 col-md-9"></div>
            </div>
        </section>
        <!--/ account setting page -->
    </div>
</div>