<div class="card">
    <div class="card-header d-flex flex-column align-items-start pb-0">
        <p class="font-weight-bolder ml-1">Spend Down List</p>
    </div>
    <div class="spend-table">
        <div class="card-body">
            <div class="row  mb-1"
                *ngIf="currentUser.prmsnId == 6 || currentUser.user_role == 3 || currentUser.user_role == 8">
                <div class="col-2 form-group">
                    Community :
                </div>
                <div class="col-2 mr-5">
                    <select class="form-control" (change)="slct($event)">
                        <!-- <option value="" selected="selected" disabled>---Select Community---</option> -->
                        <option value="" *ngIf="!allCommunity?.length">---No Community---</option>
                        <option value="{{ currentUser.user_role == 3 ? item.cp_id : (item.id || item.community_id)}}"
                            *ngFor="let item of allCommunity">{{item.community_name}}</option>
                    </select>
                </div>

            </div>
            <div class="row mb-1">
                <div class="col-2 form-group">
                    Department :
                </div>
                <div class="col-2">
                    <select class="form-control" #slctDprt (change)="chngDprt(slctDprt.value)">
                        <option value="" *ngIf="!dprtmnt?.length">---No Data Found---</option>
                        <option value="{{item.name}}" *ngFor="let item of dprtmnt">{{item.name}}</option>
                    </select>
                </div>
                <div class="col-3">
                </div>
                <div class="col-2 form-group">
                    <b> MTD </b>
                </div>
                <div class="col-2 form-group">
                    <b> YTD </b>
                </div>

            </div>
            <div class="row mb-1">
                <div class="col-2 form-group">
                    Year :
                </div>
                <div class="col-2">
                    <select class="form-control" #slctYr (change)="chngYr(slctYr.value)">
                        <!-- <option value="" selected="selected" disabled>---Select Year---</option> -->
                        <option value="{{item}}" *ngFor="let item of listOfYears">{{item}}</option>
                    </select>
                </div>
                <div class="col-1">
                </div>
                <div class="col-2 form-group">
                    {{slcDp || this.frstDp}} - Spend :
                </div>
                <div class="col-2">
                    {{'$ '}}{{ rows1?.totalExp || '0' | number : '1.2-2'}}
                </div>
                <div class="col-2">
                    {{'$ '}}{{ rows1?.yearSpend || '0' | number : '1.2-2'}}
                </div>

            </div>
            <div class="row mb-1">
                <div class="col-2 form-group">
                    Month :
                </div>
                <div class="col-2">
                    <select class="form-control" #slctMnt (change)="chngMnt(slctMnt.value)">
                        <!-- <option value="" selected="selected" disabled>---Select Month---</option> -->
                        <option value="{{item.id}}" [selected]="item.id == curMnt" *ngFor="let item of mL">{{item.val}}
                        </option>
                    </select>
                </div>
                <div class="col-1">
                    <button type="button" class="btn-sm btn-info" (click)="getSpnDwn()">Search</button>
                </div>
                <div class="col-2 form-group">
                    {{slcDp || this.frstDp}} - Budget :
                </div>
                <div class="col-2">
                    {{'$ '}}{{rows1?.budgetAmount || '0' | number : '1.2-2'}}
                </div>
                <div class="col-2">
                    {{'$ '}}{{ rows1?.budgetytd || '0' | number : '1.2-2'}}
                </div>

            </div>

            <div class="row mb-2">
                <div class="col-2 form-group">
                    <!-- Total Residents : -->
                </div>
                <div class="col-2">
                    <!-- <input type="number" [(ngModel)]="updResVal" 
                     class="form-control form-control-user"
                     id="amount" class="form-control"
                     placeholder="Total Residents" aria-describedby="passwordHelpInline"> -->
                </div>
                <div class="col-1">
                    <!-- <button type="button" class="btn-sm btn-info" *ngIf="assPrms=='1'" (click)="updREs()">Update</button> -->
                </div>
                <div class="col-2 form-group">
                    Over / (Under) - Budget :
                </div>
                <div class="col-2">
                    <!-- {{'$ '}}{{ rows1?.difference  || '0' | number : '1.2-2'}} -->
                    <span *ngIf="!dataForBgt?.difference ">
                        {{'$ '}}{{ '0' | number : '1.2-2'}}
                    </span>
                    <span *ngIf="dataForBgt?.difference && dataForBgt?.difference.includes('-')">
                        ({{'$ '}}{{ dataForBgt?.difference || '0' | number : '1.2-2'}})
                    </span>
                    <span *ngIf="dataForBgt?.difference && !dataForBgt?.difference.includes('-')">
                        {{'$ '}}{{ dataForBgt?.difference || '0' | number : '1.2-2'}}
                    </span>

                </div>
                <div class="col-2">
                    <!-- {{'$ '}}{{ rows1?.differenceYTD || '0' | number : '1.2-2'}} -->
                    <span *ngIf="!dataForBgt?.differenceYTD ">
                        {{'$ '}}{{ '0' | number : '1.2-2'}}
                    </span>
                    <span *ngIf="dataForBgt?.differenceYTD && dataForBgt?.differenceYTD.includes('-')">
                        ({{'$ '}}{{ dataForBgt?.differenceYTD || '0' | number : '1.2-2'}})
                    </span>
                    <span *ngIf="dataForBgt?.differenceYTD && !dataForBgt?.differenceYTD.includes('-')">
                        {{'$ '}}{{ dataForBgt?.differenceYTD || '0' | number : '1.2-2'}}
                    </span>
                </div>
                <!-- <div class="col-2 form-group ml-5">
                    {{slcDp || this.frstDp}} - YTD Budget
                </div>
                <div class="col-3">
                    {{'$ '}}{{ rows1?.budgetytd || '0' | number : '1.2-2'}}
                </div> -->
            </div>
            <div class="row mb-2">
                <!-- <div class="col-2 form-group">
                    Total Resident Days :
                </div>
                <div class="col-3 mr-5">
                    {{resValCal  || '00' | number : '1.2-2'}}
                </div> -->
                <div class="col-1">
                </div>
                <!-- <div class="col-2 form-group">
                    Over / (Under) - Budget YTD
                </div>
                <div class="col-3">
                    {{'$ '}}{{ rows1?.differenceYTD || '0' | number : '1.2-2'}}
                </div> -->
            </div>
            <div class="row mb-1">
                <div class="col-md-6 col-12">
                    <div class="d-flex">
                        <button type="button" class="btn-sm btn-info"
                            *ngIf="addPrms == '1'|| currentUser.user_role == '6' || currentUser.prmsnId == '1'"
                            [routerLink]="['add-spendDown']"> <i class="fa fa-plus mr-50"></i>Add Spend Down
                        </button>

                        <button type="button" (click)="fileInput.click()" class="btn-sm btn-info ml-1"
                            *ngIf="['1','6','16'].includes(currentUser.prmsnId)">
                            <i class="fa fa-file "></i> Import File
                            <input #fileInput type="file" (click)="fileInput.value = null"
                                (change)="onFileInput(fileInput.files)" style="display:none;" accept=".csv, .xls" />
                        </button>
                    </div>
                </div>
            </div>

            <div class="tablOvr">
                <ngx-datatable #tablesss class="bootstrap core-bootstrap" [rows]="row2" [columnMode]="'force'"
                    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="false" [count]=""
                    [offset]="" [limit]="10" [scrollbarH]="true" [virtualization]="false">
                    <ngx-datatable-column name="Community" prop="community_name" [width]="150">
                        <ng-template let-community_name="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{ community_name }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Purchase Date" prop="purchage_date" [width]="150">
                        <ng-template let-purchage_date="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{ purchage_date | date:'M/d/yyyy'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Vendor" prop="vendor" [width]="150">
                        <ng-template let-vendor="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{ vendor }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Description" prop="description" [width]="150">
                        <ng-template let-description="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{ description }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="department" prop="department" [width]="150">
                        <ng-template let-department="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{ department }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="GL Account" prop="gl_and_description" [width]="150">
                        <ng-template let-gl_account="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{ gl_account }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Amount" prop="amount" [width]="150">
                        <ng-template let-amount="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{'$ '}}{{ amount || '0' | number : "1.2-2" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Payment Type" prop="pmt_type" [width]="150">
                        <ng-template let-pmt_type="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{ pmt_type }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="final" prop="final" [width]="150">
                        <ng-template let-final="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{ final == 1 ? 'Yes' : 'No' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name=" Invoice Date" prop="invoice_date" [width]="150" >
                        <ng-template let-invoice_date="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{invoice_date |  date:'M/d/yyyy'}}
                        </ng-template>
                    </ngx-datatable-column> -->
                    <ngx-datatable-column name=" Invoice Number" prop="invoice_number" [width]="150">
                        <ng-template let-invoice_number="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{invoice_number || '---'}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="receipt id" prop="receipt_id" [width]="150">
                        <ng-template let-receipt_id="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{receipt_id || '---'}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Entered By" prop="entered1" [width]="150">
                        <ng-template let-entered1="value" let-expanded="expanded" ngx-datatable-cell-template>
                            <!-- {{ entered1}} -->
                            {{ entered1}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Entered date" prop="start_date" [width]="150">
                        <ng-template let-start_date="value" let-expanded="expanded" ngx-datatable-cell-template>
                            {{ start_date | date:'M/d/yyyy'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="150">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div ngbDropdown container="body">
                                    <a ngbDropdownToggle class="hide-arrow" id="dropdownBrowserState"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                                    </a>
                                    <div ngbDropdownMenu class="dropdown-menu-right"
                                        aria-labelledby="dropdownBrowserState">
                                        <a ngbDropdownItem class="d-flex align-items-center"
                                            [routerLink]="['edit-spendDown',row.id,row.entered_by_user || row.entered_by_cm]"
                                            *ngIf="edtPrms == '1' || currentUser.user_role == '6' || currentUser.prmsnId == '1' || currentUser.user_role == 3">
                                            <i class="fa fa-edit mr-50"></i> Edit
                                        </a>
                                        <a ngbDropdownItem class="d-flex align-items-center" (click)="delete(row.id)"
                                            *ngIf="dltPrms == '1' || currentUser.user_role == '6' || currentUser.prmsnId == '1' || currentUser.user_role == 3">
                                            <i class="fa fa-trash mr-50"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>