<div class="d-flex justify-content-center  align-content-center" *ngIf="welcomeClockIN">
    <div class="card p-2">
        <div class="card-header d-flex justify-content-center">
            <div>
                <h5 class="text-center"> Welcome To</h5>
                <h1 class="text-center" style="color: #ff6633;">bloomtrak</h1>
            </div>
        </div>
        <div class="card-body d-flex justify-content-center p-1 flwr-png">

            <div *ngIf="activeTab == 1" style="width: 100%;">

                <form class="auth-login-form mt-2" [formGroup]="agencyForm" (ngSubmit)="agencyFormSubmit()">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="common-form-left">
                                <label class="form-label" for="login-email">Select Your Agency: </label>
                            </div>
                        </div>
                        <div class="col-lg-7">
                                <select name="agency" formControlName="agency" class="form-control"
                                    (change)="agncyCng($event)"
                                    [ngClass]="{ 'is-invalid': agf['agency'].dirty && agf['agency'].invalid }">
                                    <option value="" disabled>---Select Your Agency---</option>
                                    <option value="{{agney.id}}" *ngFor="let agney of srt_endStts">{{agney.agency_name}}
                                    </option>
                                </select>
                                <div *ngIf="agf['agency'].dirty && agf['agency'].invalid" class="invalid-feedback">
                                    <div *ngIf="agf['agency'].hasError('required')">This field is required
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="common-form-left">
                                <label class="form-label" for="login-email">Enter Your User Name: </label>

                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="common-form-left form-group">
                                <input type="text"
                                    [class.is-invalid]="agf['username'].dirty && agf['username'].invalid"
                                    formControlName="username" class="form-control form-control-user" id="username">
                                    <div *ngIf="agf['username'].dirty && agf['username'].invalid" class="invalid-feedback">
                                        <div *ngIf="agf['username'].hasError('required')">This field is required
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="common-form-left">
                                <label class="form-label" for="login-email">Enter Your Password: </label>

                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="common-form-left form-group">
                                <input type="password"
                                    [class.is-invalid]="agf['password'].dirty && agf['password'].invalid"
                                    formControlName="password" class="form-control form-control-user" id="password">
                                    <div *ngIf="agf['password'].dirty && agf['password'].invalid" class="invalid-feedback">
                                        <div *ngIf="agf['password'].hasError('required')">This field is required
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <b>
                        Note : You will only see your shifts that start within 1 hour. Check your bloomtrak portal for a list of your assigned shifts.
                        </b>
                    </div>
                    <div class="row d-flex ">
                        <div>
                            <button type="submit " class="btn btn-primary btn-block" [disabled]="btnShow">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    Continue
                            </button>
                            <!-- <button type="submit" class="btn btn-primary btn-block" [disabled]="btnShow" (click)="activeTab = 2">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    Continue
                            </button> -->
                        </div>
                        <div class="ml-1">
                            <button type="button " class="btn btn-primary btn-block" [disabled]="rfhLoad" (click)="rfsh()">
                                <span *ngIf="rfhLoad" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    Refresh
                            </button>
                        </div>
                    </div>
                </form>
            </div>


            <div *ngIf="activeTab == 3">
                <form class="auth-login-form mt-2" (ngSubmit)="tab3Submit(1)">
                    <p>
                        I understand and agree that 30 minutes will be deducted from my time for any shift that
                        is 6 hours or longer unless the Agency Variance Form is filled out in full and signed by
                        the appropriate community personnel. I understand and agree that it is my responsibility to take this break and that nearly no exceptions shall be made.
                    </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="submit" class="btn btn-primary btn-block " [disabled]="btnShow">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                I Agree
                            </button>
                            <!-- <button type="button" class="btn btn-primary btn-block " [disabled]="btnShow" (click)="activeTab = 4">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                I Agree
                            </button> -->
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-block" (click)="tab3Submit(0)">
                                I Do Not Agree
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="activeTab == 4">
                <form class="auth-login-form mt-2" (ngSubmit)="tab4Submit(1)">
                    <p>
                        I understand and agree that it is my responsibility to notify my Agency and
                        the supervisor on duty immediately if I do not have the resources I need to completed
                        my job. I will not wait until the end of my shift to communicate this information.
                    </p>

                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="submit" class="btn btn-primary btn-block " [disabled]="btnShow">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button>
                            <!-- <button type="button" class="btn btn-primary btn-block " [disabled]="btnShow" (click)="activeTab = 5">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button> -->
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-block " (click)="tab4Submit(0)">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Do not Agree
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="activeTab== 5">
                <form class="auth-login-form mt-2" (ngSubmit)="tab5Submit(1)">
                    <p>
                        I attest that I have the credentials and training necessary to work
                        this shift at this location.
                    </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="submit" class="btn btn-primary btn-block " [disabled]="btnShow">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button>
                            <!-- <button type="button" class="btn btn-primary btn-block " [disabled]="btnShow" (click)="activeTab = 6">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button> -->
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-block " (click)="tab5Submit(0)">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Do not Agree
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="activeTab== 6">

                <form class="auth-login-form mt-2" (ngSubmit)="tab6Submit(1)">
                    <p>
                        I certify that I do not have any COVID-19 symptoms including fever,
                        cough, sore throat and that I have not been exposed to anyone with COVID-19
                        in the last 10 days.
                    </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="submit" class="btn btn-primary btn-block " [disabled]="btnShow">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button>

                            <!-- <button type="button" class="btn btn-primary btn-block " [disabled]="btnShow" (click)="activeTab = 7">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button> -->

                    </div> 
                        <div>
                            <button type="button" class="btn btn-primary btn-block " (click)="tab6Submit(0)">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Do not Agree
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="activeTab== 7">
                <form class="auth-login-form mt-2" (ngSubmit)="tab7Submit(1)">
                    <p>
                        I understand and agree that my role is vital to safety and wellbeing of those I
                        will be assisting and that I will carry out my duties to the best of my abilities.
                    </p>

                    <div class="d-flex justify-content-between">
                        <div>
                             <button type="submit" class="btn btn-primary btn-block " [disabled]="btnShow">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button>


                            <!-- <button type="button" class="btn btn-primary btn-block " [disabled]="btnShow" (click)="activeTab = 8">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button> -->


                         </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-block " (click)="tab7Submit(0)">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Do not Agree
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="activeTab== 8">
                <form class="auth-login-form mt-2" (ngSubmit)="tab8Submit()">
                    <div>
                        <p *ngIf="strtShft">
                           Start Shift : ( <b>{{strtShft | customDateTime}} {{strtShft | customTime}}</b> )  
                        </p>
                        <p *ngIf="endShft && cmpltHide">
                            End Shift : ( <b>{{endShft | customDateTime}} {{endShft | customTime}}</b> )  
                         </p>
                        <p class="text-center">
                            Thank you for helping us bloom!
                        </p>
                    </div>
                    <div class="d-flex justify-content-center"  *ngIf="!cmpltHide">
                        <div >
                            <button type="submit" class="btn btn-primary btn-sm " *ngIf="!btnHide">
                                Clock In
                            </button>
                            <button type="button" class="btn btn-primary btn-sm " (click)="getClockOut()" *ngIf="btnHide">
                                Start the Clock-Out Process
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-1">

                        <button type="button" class="btn btn-primary btn-sm" (click)="bckHome()" *ngIf="cmpltHide">
                        Back To Clock In-Out
                    </button>
                    </div>
                    <div class="row justify-content-center mt-1">
                        <button type="button" class="btn btn-primary btn-sm" (click)="goToHome()">
                            Go To Home
                        </button>
                    </div>
                </form>
            </div>


<!-- Clock out stepper------------------------------------------------------ -->

            <div *ngIf="activeTab== 9">
                <form class="auth-login-form mt-2" (ngSubmit)="tab9Submit(1)">
                    <p>
                        I attest that I was able to successfully complete
                        my shift and was able to provide care and
                        services as required. If I was unable to
                        complete any tasks, I notified the supervisor on
                        duty.
                    </p>

                    <div class="d-flex justify-content-between">
                        <div>
                             <button type="submit" class="btn btn-primary btn-block " [disabled]="btnShow">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button>
                            <!-- <button type="button" class="btn btn-primary btn-block " [disabled]="btnShow" (click)="activeTab = 10">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button> -->
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-block " (click)="tab9Submit(0)">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Do not Agree
                            </button>
                        </div>
                    </div>
                </form>
            </div>


            <div *ngIf="activeTab== 10">
                <form class="auth-login-form mt-2" (ngSubmit)="tab10Submit(1)">
                    <p>
                        I understand that I will not be paid for time I was
                        clocked in prior to the start of my shift and for
                        time I was clocked in after my scheduled shift
                        ended unless an Agency Shift Variance form is
                        completed.
                    </p>

                    <div class="d-flex justify-content-between">
                        <div>
                               <button type="submit" class="btn btn-primary btn-block " [disabled]="btnShow">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button>
                            <!-- <button type="button" class="btn btn-primary btn-block " [disabled]="btnShow" (click)="activeTab = 11">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button> -->
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-block " (click)="tab10Submit(0)">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Do not Agree
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="activeTab== 11">
                <form class="auth-login-form mt-2" (ngSubmit)="tab11Submit(1)">
                    <p>
                        I have completed all requested paperwork and
                        any additional end of shift reporting that the
                        community has requested.
                    </p>

                    <div class="d-flex justify-content-between">
                        <div>
                              <button type="submit" class="btn btn-primary btn-block " [disabled]="btnShow">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button>
                            <!-- <button type="button" class="btn btn-primary btn-block " [disabled]="btnShow" (click)="activeTab = 1">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Agree
                            </button> -->
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-block " (click)="tab11Submit(0)">
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                    I Do not Agree
                            </button>
                        </div>
                    </div>
                </form>
            </div>

<!-- Clock out stepper------------------------------------------------------ -->
        </div>
    </div>
</div>

<!---------------------- Disagree --------------------->
<ng-template #Disagree let-modal>
    <div class="modal-header bg-danger">
        <h4 class="modal-title text-white" id="myModalLabel1">Do Not Agree Statement</h4>
        <button type="button" [disabled]="deletingUser" class="close" (click)="closeded(modal)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <h5>Are you sure 
            you want to select “Do Not Agree” to this statement? By doing so, you are not eligible to work the shift and you should contact your Agency 
            immediately to inform them that you are not eligible to work at this community.</h5>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="btnShow" class="btn btn-danger d-flex float-right"
            style="margin-top: 10px!important;" (click)="closeDismiss(modal)" rippleEffect>
            <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span>Yes, I Do not Agree
        </button>
        <button type="button" [disabled]="btnShow" class="btn btn-danger d-flex float-right"
            style="margin-top: 10px!important;" (click)="goback(modal)" rippleEffect>
            <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span> Cancel
        </button>
    </div>
</ng-template>
<!-- / Disagree -->


<!-- Select Shift & Pin -->
<ng-template #slcSft let-modal>
    <div class="modal-header bg-danger">
        <h4 class="modal-title text-white" id="myModalLabel1">Select Shift</h4>
        <button type="button" [disabled]="deletingUser" class="close" (click)="closeded(modal)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <form class="auth-login-form mt-2" [formGroup]="slcSftForm" (ngSubmit)="slcSftFormSubmit()">
          
            <div class="row">
                <div class="col-lg-4">
                    <div class="common-form-left">
                        <label class="form-label" for="login-email">Select Your Shift: </label>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="common-form-left form-group">
                        <select name="shift" formControlName="chooseShift" class="form-control" (change)="shiftCng2($event)">
                            <option value="" selected disabled>---Select Your shift---</option>
                            <option value="{{shift.shift_id}}" *ngFor="let shift of frstFrmData">{{shift.positions}} ( {{shift.start_time | customDateTime}} {{shift.start_time | customTime}} )
                            </option>
                        </select>
                        <div *ngIf="fc3['chooseShift'].dirty && fc3['chooseShift'].invalid"
                            class="invalid-feedback">
                            <div *ngIf="fc3['chooseShift'].hasError('required')">This field is
                                required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit " class="btn btn-primary " [disabled]="btnShow">
                    <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                        Continue
                </button>
            </div>
                
        </form>
    </div>
   
</ng-template>
<!-- / Select Shift & Pin -->

<!-- Add new register -->
<ng-template #newReg let-modal>
    <div class="modal-header bg-danger">
        <h4 class="modal-title text-white" id="myModalLabel1">Add New User</h4>
        <button type="button" [disabled]="deletingUser" class="close" (click)="closeded(modal)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <form class="user" [formGroup]="newUser" (ngSubmit)="newUsersubmitted(modal)">
            <div class="row">
                <div class="col-lg-4">
                    <div class="common-form-left">
                        <label for="inputPassword6" class="col-form-label">User First Name <span class="text-danger">*</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="common-form-left form-group">
                        <input type="text"
                            [class.is-invalid]="controls['first_name'].dirty && controls['first_name'].invalid"
                            formControlName="first_name" class="form-control form-control-user"
                            id="first_name" class="form-control"
                            placeholder="Firstname" aria-describedby="passwordHelpInline" >
                        <span *ngIf="controls['first_name'].dirty && controls['first_name'].invalid">
                            <div class="invalid-feedback"
                                *ngIf="controls['first_name'].hasError('required')"
                                class="text text-danger">
                                This field is Required
                            </div>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="common-form-left">
                        <label for="inputPassword6" class="col-form-label">User Last Name <span class="text-danger">*</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="common-form-left form-group">
                        <input type="text"
                            [class.is-invalid]="controls['last_name'].dirty && controls['last_name'].invalid"
                            formControlName="last_name" class="form-control form-control-user"
                            id="last_name" class="form-control"
                            placeholder="LastName" aria-describedby="passwordHelpInline" >
                        <span *ngIf="controls['last_name'].dirty && controls['last_name'].invalid">
                            <div class="invalid-feedback"
                                *ngIf="controls['last_name'].hasError('required')"
                                class="text text-danger">
                                This field is Required
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4">
                    <div class="common-form-left">
                        <label for="inputPassword6" class="col-form-label">User Cell Phone Number <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="common-form-left form-group">
                        <input type="text" mask="(000) 000-0000" maxlength="14" readonly
                            [class.is-invalid]="controls['phone_number'].dirty && controls['phone_number'].invalid"
                            formControlName="phone_number" class="form-control form-control-user" id="phone_number" >
                        <span *ngIf="controls['phone_number'].dirty && controls['phone_number'].invalid">
                            <div class="invalid-feedback" *ngIf="controls['phone_number'].hasError('required')"
                                class="text text-danger">
                                This field is Required
                            </div>
                            <div class="invalid-feedback" *ngIf="controls['phone_number'].hasError('pattern')"
                                class="text text-danger">
                                Enter valid Phone number
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="common-form-field">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">User Email Address <span class="text-danger">*</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="common-form-left form-group">
                                    <input type="text"
                                        [class.is-invalid]="controls['email'].dirty && controls['email'].invalid"
                                        formControlName="email" class="form-control form-control-user" id="email"
                                        class="form-control"
                                        aria-describedby="passwordHelpInline">
                                    <span *ngIf="controls['email'].dirty && controls['email'].invalid">
                                        <div class="invalid-feedback" *ngIf="controls['email'].hasError('required')"
                                            class="text text-danger">
                                            This field is Required
                                        </div>
                                        <div class="invalid-feedback" *ngIf="controls['email'].hasError('email')"
                                            class="text text-danger">
                                            Please enter valid email
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Pin Code <span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="common-form-left form-group">
                                    <input type="text" inputDirective inptype="number" maxlength="5"
                                        [class.is-invalid]="controls['PIN_code'].dirty && controls['PIN_code'].invalid"
                                        formControlName="PIN_code" class="form-control form-control-user"
                                        id="PIN_code" readonly>
                                    <span *ngIf="controls['PIN_code'].dirty && controls['PIN_code'].invalid">
                                        <div class="invalid-feedback"
                                            *ngIf="controls['PIN_code'].hasError('required')"
                                            class="text text-danger">
                                            This field is Required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Password <span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="common-form-left form-group">
                                    <input type="password"
                                        [class.is-invalid]="controls['password'].dirty && controls['password'].invalid"
                                        formControlName="password" class="form-control form-control-user"
                                        id="password">
                                    <span *ngIf="controls['password'].dirty && controls['password'].invalid">
                                        <div class="invalid-feedback"
                                            *ngIf="controls['password'].hasError('required')"
                                            class="text text-danger">
                                            This field is Required
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="controls['password'].hasError('pattern')"
                                            class="text text-danger">
                                            Password must be at least 8 characters and contain a combination of uppercase and lowercase letters and at least one special character or number.
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Confirm Password <span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="common-form-left form-group">
                                    <input type="password"
                                        [class.is-invalid]="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid"
                                        formControlName="cnfrmpassword" class="form-control form-control-user"
                                        id="cnfrmpassword">
                                    <span
                                        *ngIf="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid">
                                        <div class="invalid-feedback"
                                            *ngIf="controls['cnfrmpassword'].hasError('required')"
                                            class="text text-danger">
                                            This field is Required
                                        </div>
                                        
                                        <div *ngIf="controls.cnfrmpassword.errors.confirmedValidator" style="color: #ea5455; font-size: 1rem;">Password and Confirm Password must be match.</div>
                                    </span>
                                </div>
                            </div>
                        </div>

                       <div class="row addUserbtn">
                            <div class="m-1">
                                <button type="submit" class="btn btn-primary" [disabled]="btnShow">
                                    <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Add
                                </button>
                                <button type="button" (click)="closeded(modal)"
                                class="btn btn-primary ml-1" [disabled]="btnShow">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</ng-template>
<!-- / Add new register -->


<!-- Confrm -->
<ng-template #Confrm let-modal>
    <div class="modal-header bg-danger">
        <h4 class="modal-title text-white" id="myModalLabel1">Statement</h4>
        <button type="button" [disabled]="deletingUser" class="close" (click)="closeded(modal)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <h5>You are not currently registered in bloomtrak. Register now to clock-in.</h5>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="btnShow" class="btn btn-primary d-flex float-right"
            style="margin-top: 10px!important;" (click)="ConfrmOk(modal)" rippleEffect>
            <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span> Ok
        </button>
    </div>
</ng-template>
<!-- / Confrm -->

<section class="login-custom" *ngIf="!welcomeClockIN">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="center-login">
            <img src="assets/images/logo-login.png" alt="" class="login-logo-page">
            <div class="modal-header bg-danger">
                <h4 class="modal-title text-white" id="myModalLabel1">Enter Secret Key</h4>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="common-form-left">
                        <label for="inputPassword6" class="col-form-label">Secret Key : </label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="common-form-left form-group">
                        <input type="password"
                        [(ngModel)]="sec_key" class="form-control form-control-user"
                            id="cnfrmpassword">
                        <div *ngIf="submit1 && !sec_key">
                           <div [ngClass]="{'is-invalid': true}"
                                 style="color: red;">This field is Required</div>
                          </div>
                    </div>
                </div>
            </div>
        
            <div class="modal-footer">
                <button type="button" [disabled]="btnShow" class="btn btn-primary d-flex float-right"
                     (click)="sumtKey()" rippleEffect>
                    <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span> Ok
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
