<div class="card">
    <div class="card-header d-flex flex-column align-items-start pb-0">
        <p class="font-weight-bolder ml-1" >Settings List</p>
    </div>
    <div class="card-body mt-1">
        <div class="row">
            <div class="col-md-6 col-12"  >
                <div class="d-flex ">

                    <button type="button" class="btn-sm btn-info" *ngIf="addPrms==1 || currentUser.user_role == '6'"
                    [routerLink]="['add-admin-settings']" >  <i class="fa fa-plus mr-50"></i>Add Setting
                   </button> 

                   <!-- <button type="button" (click)="fileInput.click()"  class="btn-sm btn-info ml-1" *ngIf="currentUser.role == 'SuperAdmin' || currentUser.role == 'Community' || currentUser.role == 'Admin'" >
                    <i class="fa fa-file "></i>   Import File
                    <input #fileInput type="file" (click)="fileInput.value = null" (change)="onFileInput(fileInput.files)" style="display:none;" />
                  </button> -->
                </div>
            </div>
        </div>
       </div> 
       <div class="overflow" style="overflow: auto;">
        <ngx-datatable #tablesss class="bootstrap core-bootstrap" [rows]="rows" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="false"
      [scrollbarH]="true" [virtualization]="false"
      [count]="" [offset]="" [limit]="10"  >
           
            <ngx-datatable-column name="Name" prop="setting_name" [width]="50" >
                <ng-template let-setting_name="value" let-expanded="expanded" ngx-datatable-cell-template>
                    {{ setting_name }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Value" prop="setting_value" [width]="50" >
                <ng-template let-setting_value="value" let-expanded="expanded" ngx-datatable-cell-template>
                    {{ setting_value }}
                </ng-template>
            </ngx-datatable-column>

             <!-- <ngx-datatable-column name="status" prop="is_deleted" [width]="100">
                <ng-template let-is_deleted="value" let-expanded="expanded" ngx-datatable-cell-template>
                    {{ is_deleted == 0 ? 'Active' : 'Deleted' }}
                </ng-template>
            </ngx-datatable-column> -->
            
            <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="50">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                        <div ngbDropdown container="body">
                            <a ngbDropdownToggle  class="hide-arrow" id="dropdownBrowserState"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                               <a ngbDropdownItem class="d-flex align-items-center" [routerLink]="['edit-admin-settings',row.id]" *ngIf="edtPrms==1 || currentUser.user_role == '6'">
                                    <i class="fa fa-edit mr-50"></i> Edit 
                                </a>
                                <a ngbDropdownItem class="d-flex align-items-center" (click)="delete(row.id)" *ngIf="dltPrms==1 || currentUser.user_role == '6'">
                                    <i class="fa fa-trash mr-50"></i> Delete
                                </a>
                                <a ngbDropdownItem class="d-flex align-items-center"  *ngIf="dltPrms ==0 && edtPrms ==0">
                                    <i class="fa fa-trash mr-50"></i>  You have no Permissions for any actions. 
                                </a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>